# Copy this file to .env.local

REACT_APP_SUPABASE_URL=https://migeuxqmrcwhstifeysn.supabase.co
REACT_APP_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im1pZ2V1eHFtcmN3aHN0aWZleXNuIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzE5MzYwMDQsImV4cCI6MjA4NzUxMjAwNH0.phZq9qW20u9_OS7Uy0pO-_rBCIhxJot8BUvzdTh4yyo
REACT_APP_API_URL=http://localhost:8080/api
